<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ template.head.meta_charset }}">
    <meta name="viewport" content="{{ template.head.meta_viewport }}">
    <title>{{ template.head.title }}</title>
    <link rel="stylesheet" href="{{ url_for('scmProject.static', filename=template.head.custom_css) }}">
    <link rel="stylesheet" href="{{ template.head.fontawesome_cdn }}">

    <style>
        {% for selector, style in template.styles.items() %}
            {{ selector }} {
                {% for property, value in style.items() %}
                    {{ property | safe }}: {{ value | safe }};
                {% endfor %}
            }
        {% endfor %}
    </style>

</head>
<body>

    <aside class="sidebar">
        <div class="sidebar-header">
            <img src="{{ url_for('scmProject.static', filename=template.sidebar.logo.src) }}" alt="logo" />
            <h2>{{ template.sidebar.logo.text }}</h2>
        </div>
        <ul class="sidebar-links">
            <h4>
                <span style="color: white;">Main Menu</span>
                <div class="menu-separator"></div>
            </h4>
            {% for item in template.sidebar.links %}
            <li>
                <a href="{{ item.href }}" class="{{ item.class }}">
                    <span class="icon"><i class="{{ item.icon }}"></i></span>
                    <span class="text">{{ item.text }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </aside>

    <div class="content">
        <div class="account-card">
            <div class="account-info">
                <div class="account-icon">
                    <i class="{{ template.content.icon }}"></i>
                </div>
                <span class="text">{{ template.content.title }}</span>
            </div>

            <form id="account-form">
                {% for field in template.content.fields %}
                <div class="input-container">
                    <label for="{{ field.id }}">{{ field.label }}</label>
                    <input
                        type="{{ field.type }}"
                        id="{{ field.id }}"
                        value="{% if field.id == 'username' %}{{ username }}
                               {% elif field.id == 'email' %}{{ email }}
                               {% elif field.id == 'role' %}{{ role }}{% endif %}"
                        {% if field.readonly %}readonly{% endif %}
                    >
                </div>
                {% endfor %}

                <div class="button-container">
                    {% for button in template.content.buttons %}
                    <button class="{{ button.class }}" type="{{ button.type }}" onclick="{{ button.onclick }}">{{ button.text }}</button>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('scmProject.static', filename=template.script) }}"></script>

</body>
</html>
